
.wrapper {
  background-color: #f9f9f9;
  margin-top: 100px;
}

.btn-profile {
  margin-top: 100px;
  width: 140px;
  height: 42px;
  border-radius: 100px;
  background-color: #ffc82c;
  color: white;
}

.container {
}

.booking-displayer {
  height: 500px;
  border-radius: 5px;
  background-color: #fcfcfc;
  border: solid 1px #e6e7ea;
  overflow: scroll;
}

#profile-card {
  height: 500px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #e6e7ea;
  padding-top: 60px;
  p {
    margin-top: 40px;
  }
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 3px;
  transition: all 0.15s ease;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
}
.product-body > h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body > p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

/* Product image */
.product-image {
  border-radius: 4px;
  margin-right: 20px;
  width: 160px;
  height: 90px;
}


/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #00cf6b !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: #edeef1;
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote { transform: scale(1.2) }
.product:hover .product-controls-hidden a { color: #E6E6E6 }
.product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }
