.form-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}
.form-container {
  margin-top: 100px;
  width: 30%;
  height: 550px;
  padding: 20px;
  background-color: white;
  margin-bottom: 400px;
  h2, h3 {
    text-align: center;
    margin-bottom: 45px;
  }
  p {
    margin-bottom: 14px;
  }
}
.form-links {
  margin-top: 16px;
}
#text-signup {
  font-weight: 500;
  font-size: 13px;
  float: right;
  transition: all 0.5s ease;
  p {
    color: #4f5362;
  }
  &:hover, &:active {
    color: #00cf6b;
  }
}
.new-input {
  border-radius: 5px;
  height: 42px;
}
.btn-sign {
  width: 100%;
}
.form-control {
  height: 42px;
  border: solid 1px #d3d5dc;
  box-shadow: none;
  border-radius: 5px;
  &:hover, &:active, &:focus  {
    border: solid 1px #00cf6b;
    box-shadow: none;
  }
}
.user_remember_me {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 13px;
  p {
    color: #a8acb9;
  }
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#text-forgot {
  color: #a8acb9;
  font-weight: 500;
  font-size: 13px;
  float: left;
  transition: all 0.5s ease;
  &:hover, &:active {
    color: #4f5362;
  }
}
#user_remember_me {
  color: #a8acb9;
  font-weight: 500;
  font-family: 'Quicksand';
}
#text-signin {
  color: #a8acb9;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 0;
  transition: all 0.5s ease;
  &:hover, &:active {
    color: #00cf6b;
  }
}
hr {
  margin: 40px 0;
}
.cancel-hint {
  text-align: center;
  a {
    color: #a8acb9;
    transition: all 0.6s ease;
    &:hover {
      color: #00cf6b;
    }
  }
}
.attachinary_container li {
  list-style: none;
  margin-left: -30px;
  a {
    color: #A8ACB9;
    padding-left: 12px;
    transition: all 0.6s ease;
    &:hover {
      color: #EB481F;
    }
  }
}
