.top-buffer {
  margin-top: 40px;
}

.cards {
  margin-top: 45px;
}
.card-container {
  p {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #4a4a4a;
    margin-left: 0;
  }
  img {
    margin-top: 17px;
    width: 276px;
    height: 140px;
  }
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-bottom: 50px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  h2, p {
    color: white;
  }
}

.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
